<h1>Become an Iron Blogger!</h1>

<p>If you are not already on the email list, please ask to join on <a href="https://groups.google.com/forum/#!forum/hackerschool-ironblogger">Google Groups</a>.</p>

<p>By participating, you agree to respect the <a href="https://www.hackerschool.com/manual#sub-sec-social-rules">Hacker School social rules</a>, both in the content of your blog posts and in communication with other participants.</p>

<%= render 'form' %>

<%= link_to 'Back', '/' %>
